.ie7 .gallery .pika-thumbs {
	padding-bottom: 50px;
}

.ie6 header nav {
	width: 500px;
}

.ie6 #footer .top h2 {
	margin-left: 12px;
	margin-right: 6px;
}

.ie6 aside#left-sidebar .bg-top,
.ie6 aside#left-sidebar .bg-bottom {
	font-size: 1px;
}

.ie9 footer .subcribe a,
.ie9 footer .subcribe a:hover { {
	filter:none !important;
}