	<aside id="right-sidebar">
		<div class="bg-top"></div>
		<section id="blockquote" class="block block-first">
			<h2 class="title">Testimonial</h2>
			<h3>Texto</h3>
			<div class="content">
				<p class="blockquote">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
				<p class="author">Isabel Vermal</p>
			</div>
		</section>
		
		<section id="previous-works" class="block">
			<h2 class="title">Algunas evidencias</h2>

			<%= render 'servicios/sidebar-article', :h1 => 'AG', :content => 'Diseño e imagen de marca', :id => 1 %>

		</section>				
		<div class="bg-bottom"></div>
	</aside>