---
title: clientes
banner: false
sidebar: left-sidebar
extraclass: gallery
page: clients
datapage: gallery
selected: clientes
---
<% last = 2 %>

<header class="title">
	<h1>Clientes</h1>
</header>

<section class="clearfix container">
	<%= render 'sidebar/clientes-left-sidebar', :letter => 's' %>
	<article class="main-content clearfix">
	
		<%= render 'galeria/products' %>
		<footer class="clearfix">
			<%= render 'trabajos/article', :h1 => 'Smeterling', :id => 1, :last => last %>
			<%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 2, :last => last %>
		</footer>
	</article>	
</section>