---
title: Clientes
banner: true
sidebar: no-sidebar
page: clients
datapage: clients
selected: clientes
---
<%
clients = Array.new

clients << {:letter =>'A', :items => 13, :jobs => ['3M','A. Caporelli','Abasto de Buenos Aires','Ad Hoc','AG','Agrimbau','Alibué','Alto Palermo','AOL','Arcametal','Argenvias','Aspen','Aventis Pharma']}
clients << {:letter =>'B', :items => 13, :jobs => ['Behring','Bendito Glam','Berigripina','Bonafide','Bovera','Bramco','Briket','Buenos Aires Design','Burkool','Byside']}
clients << {:letter =>'C', :items => 13, :jobs => ['Cangiani','Carrefour','CDA Informática','Citibank','Cler','Compaq','Continental']}
clients << {:letter =>'D', :items => 13, :jobs => ['Dowen']}
clients << {:letter =>'E', :items => 13, :jobs => ['Epuyen','Escorial']}
clients << {:letter =>'F', :items => 10, :jobs => ['F. Gil & Asociados','Ferrero','Ficoinox','Finpak','Flehner','Fluidmec','Focusbrand','Fon Blanc','Freetex','Freudenberg']}
clients << {:letter =>'G', :items => 10, :jobs => ['Galo','General Electric','Gráfica Latina']}
clients << {:letter =>'H', :items => 10, :jobs => ['Highland Park','Highlander (Film)','Hoechst Marion Roussel','HP']}
clients << {:letter =>'I', :items => 10, :jobs => ['Industrias Maro','International Logistic Service','International Seguros','Irsa','Issue Group']}
clients << {:letter =>'J', :items => 10, :jobs => ['JS - Diestro','Just For Sport (JFS)','Jymsa']}
clients << {:letter =>'K', :items => 18, :jobs => ['Knoll Argentina S.A.','Korn','Kronen']}
clients << {:letter =>'L', :items => 18, :jobs => ['Laboratorios Victoria','Lexmark','Linksys']}
clients << {:letter =>'M', :items => 18, :jobs => ['Maccarone','Mapfre','Marmark','Maro','Marroncelli','Marvic','Matripre','Mav Comunicaciones','Memopill','Metrolab','Microsoft','Migolú','Millet Franklin','Misatango','Modern Plac','Moldegom-Pruyer','Moretti','MPM Obras Civiles']}
clients << {:letter =>'N', :items => 18, :jobs => ['Neoterra','Norcenter']}
clients << {:letter =>'O', :items => 18, :jobs => ['Overseas Argentina','Oxigeno Shoes']}
clients << {:letter =>'P', :items => 16, :jobs => ['Panasonic','Parque Sarmiento','Patio Bullrich','Patrick Fagor','Patuá Turismo','Pbe','Penn','Personal','Petromaster','Philco','Phillips','Plan Nacional de Diseño','Plasnavi','Porta','Prohygiene','PSA']}
clients << {:letter =>'Q', :items => 16, :jobs => ['Química Estrella']}
clients << {:letter =>'R', :items => 16, :jobs => ['Racklatina','Recursos Action','Repman','Rheem','Rivas','Romina Albizu','Rontag','Rosmar','Roxelectric','Royal','Rulid']}
clients << {:letter =>'S', :items => 16, :jobs => ['']}
clients << {:letter =>'T', :items => 16, :jobs => ['Tarewa','Tavanic','Tecgas','Tecpetrol','Tedear','Tenacta - Bellissima','Tip','Total Austral Argentina','Tren de la Costa','Triangle','TyC Sports']}
clients << {:letter =>'U', :items => 2, :jobs => ['Unilever Argentina']}
clients << {:letter =>'V', :items => 2, :jobs => ['']}
clients << {:letter =>'W', :items => 2, :jobs => ['Whirlpool Argentina - Eslabón de lujo']}
clients << {:letter =>'X', :items => 2, :jobs => ['Xerox','X-net']}
clients << {:letter =>'Y-Z', :items => 2, :jobs => ['']}

col = 1
%>

<header class="title">
	<h1>Clientes</h1>
	<div class="content">Estas empresas confian en nuestros servicios.</div>
</header>

<section class="main-content clearfix">
	<h2>Clientes por orden Alfabético</h2>
	<ul class="client-list clearfix">	
		<% clients.sort_by { |clients| clients[:letter] }.each do |client| %>
			<%= render 'clientes/letter', :letter => client[:letter], :last => col % 5, :jobs => client[:jobs], :items => client[:items] %>
			<% col = col + 1 %> 
		<%end%>
	</ul>
</section>	