---
title: clientes
banner: true
sidebar: no-sidebar
page: clients
datapage: clients
selected: clientes
---
<%
col = 1
%>
<header class="title">
	<h1>Clientes</h1>
	<div class="content">Estas empresas confian en nuestros servicios.</div>
</header>

<section class="main-content clearfix">
	<h2>Clientes por orden Alfabetico</h2>
	<ul class="client-list">	
		<% for i in (97..122) %>
			<%= render 'clientes/letter', :letter => i.chr, :last => col % 5 %>
			<% col = col + 1 %> 
		<%end%>
		</tr>
	</table>
</section>	