---
title: titulo
banner: true
first: 1
count: 5
sidebar: no-sidebar
page: home
datapage: home
selected: home
---

<%= render 'home/article', :h1 => 'Automecanica Argentina', :h2 => 'Branding espacios y exibicion', :id => 1 %>
<%= render 'home/article', :h1 => '¿Necesita desarrollo para su proyecto?', :h2 => 'Programas de Branding y Diseño con un 60% subsidiado. ', :id => 2 %>
<%= render 'home/article', :h1 => 'Incremente el valor de su marca', :h2 => 'Branding espacios y exibicion', :id => 3 %>