---
title: Nosotros
banner: true
count: '2'
page: company
datapage: company
selected: nosotros
sidebar: two-sidebar
---
<%
	items = ['Nuestra vision', 'Por qué nos eligen', '¿Como lo hacemos?', 'Equipo', 'Partners']
%>

<header class="title">
	<h1>Nosotros</h1>
</header>

<section class="clearfix container">
	<%= render 'sidebar/nosotros-left-sidebar', :items => items, :selected => 1, :name => true %>
	<section class="main-content clearfix">
		<a name="item-1" class="anchor-item"></a>
		<article class="item-1 ">
			<header>
				<hgroup>
					<h1>Nuestra visión</h1>
					<h2>Un enfoque integrador para su marca</h2>
				</hgroup>
			</header>
			<div class="content">
				<p>Nuestra visión está orientada a la marca en todas sus formas de expresión. </p>
				<p>Productos, impresos, web sites y puntos de exhibición requieren soluciones integradas, de manera que aseguren la consistencia del mensaje, potencien la diferenciación con la competencia y fortalezcan el vínculo entre su marca y el consumidor.</p>
				<p>Brindamos soluciones innovadoras, creativas y diferenciales, que satisfacen las necesidades del cliente y su marca; como así también los deseos emocionales del consumidor.</p>
			</div>
			<div class="bg"></div>
		</article>
		<a name="item-2" class="anchor-item"></a>
		<article class="item-2 ">
			<header>
				<hgroup>
					<h1>Por qué nos eligen</h1>
					<h2>Cinco razones esenciales</h2>
				</hgroup>
			</header>
			<div class="content">
				<ul class="unsorted-list">
					<li><span>Porque comprendemos al cliente y su marca: sus necesidades, sus posibilidades y las características únicas de su negocio.</span></li>
					<li><span>Porque interpretamos al consumidor: sus necesidades funcionales y sus deseos emocionales.</span></li>
					<li><span>Porque conocemos el punto de venta: las fuertes relaciones entre la exhibición, el consumidor y su proceso de decisión de compra.</span></li>
					<li><span>Porque estamos comprometidos con el éxito de su negocio: alcanzar los objetivos comerciales no es una circunstancia casual sino una meta que se consigue con la estrategia apropiada.</span></li>
					<li><span>Porque innovamos en cada propuesta: con nuestro trabajo buscamos ser únicos y diferentes.</span></li>
				</ul>
			</div>
			<div class="bg"></div>
		</article>
		<a name="item-3" class="anchor-item"></a>
		<article class="item-3">
			<header>
				<hgroup>
					<h1>¿Cómo lo hacemos?</h1>
					<h2>Branding integrado y diseño Innovativo</h2>
				</hgroup>
			</header>
			<div class="content">
				<p>Abordamos todos los aspectos de Branding y Diseño como un desafío integrado: marca, producto,  comunicación y exhibición. Nuestro proceso multidisciplinario se aplica con una metodología de alta calidad mundial, pautada pero a la vez flexible; que alimenta la innovación, acelera el desarrollo y reduce el tiempo de salida al mercado.</p>
				<p>Comprendemos el aspecto comercial de los desafíos que nos presentan. Una buena solución de Branding y Diseño es un buen negocio. Con resultados concretos. Lo hemos realizado para otras marcas. Podemos realizarlo para Usted.</p>
			</div>
			<div class="bg"></div>
		</article>
		<a name="item-4" class="anchor-item"></a>
		<article class="item-4">
			<header>
				<hgroup>
					<h1>Equipo</h1>
					<img src="images/our-team.jpg" width="380" height="158" /> 
					<h2>Creemos en el profesionalismo interdisciplinario</h2>
				</hgroup>
			</header>
			<div class="content">
				<h3 class="title">Staff</h3>
				<table>
					<tbody>
						<tr>
							<td>Hugo Fernando Alvarez</td>
							<td>Socio Director</td>
						</tr>
						<tr>
							<td>Luis Daniel Sobrado</td>
							<td>Socio Director</td>
						</tr>
						<tr>
							<td>Jorge Omar Ramón Prado</td>
							<td>Gerente de Espacios y Exhibición</td>
						</tr>
						<tr>
							<td>Gabriel Esteban Biasin</td>
							<td>Ejecutivo de cuentas, D. I. Senior</td>
						</tr>
						<tr>
							<td>Fabián  Marcelo Otero</td>
							<td>Diseñador Industrial Senior</td>
						</tr>
						<tr>
							<td>Mariela Silvana Bonazzi</td>
							<td>Diseñadora Gráfica Senior</td>
						</tr>
						<tr>
							<td>Ulises Costilla</td>
							<td>Diseñador Gráfico Senior</td>
						</tr>																																				
					</tbody>
				</table>
			</div>
			<div class="bg"></div>
		</article>
		<a name="item-5" class="anchor-item"></a>
		<article class="item-5 last">
			<header>
				<hgroup>
					<h1>Partners</h1>
					<h2>Unimos trayectorias y capacidades en beneficio de nuestros clientes.</h2>
				</hgroup>
			</header>
			<div class="content">
				<p>Contamos con un grupo de empresas asociadas, para brindarle un servicio de alta calidad mundial en las distintas áreas de su negocio.</p>
				<ul class="unsorted-list">
					<li><div class="logo"><a href="http://www.axiora.com/" title="Axiora"><img src="images/partners/axiora.jpg" alt="Axiora" title="Axiora" width="70" height="39" /></a></div><strong>Axiora España</strong>: Profesionales multidisciplinarios que brindan soluciones de informática, organización e imagen corporativa.</li>
					<li><div class="logo"><a href="http://www.fgil.com.ar/" title="F Gil"><img src="images/partners/f-gil.jpg" alt="F Gil" title="F Gil" width="69" height="39" /></a></div><strong>F Gil</strong>: Servicios integrales de consultoría sobre actividades contables, operativas y estratégicas.</li>
					<li><div class="logo"><a href="http://www.tedear.com.ar/" title="Tedear"><img src="images/partners/tedear.jpg" alt="Tedear" title="Tedear" width="81" height="29" /></a></div><strong>Tedear</strong>: Consultoría en el área de IT. Servicios, asesoramiento e implementación informático.</li>
					<li><div class="logo"><a href="http://www.adhocsite.com.ar/" title="Adhoc"><img src="images/partners/adhoc.jpg" alt="Adhoc" title="Adhoc" width="80" height="28"/></a></div><strong>Adhoc</strong>: Comunicación Institucional, y generación de contenidos.</li>
				</ul>				
			</div>
	
		</article>					
	</section>	
	<%= render 'sidebar/nosotros-right-sidebar', :items => false %>
</section>