---
title: servicios
banner: false
sidebar: left-sidebar
extraclass: gallery
page: services
datapage: gallery
selected: servicios
---
<% items = ['Estrategia de Marca', 'Identidad Visual', 'Espacios y Exhibición', 'Packaging', 'Diseño Industrial', 'Soluciones Web'] %>

<header class="title">
	<h1>Servicios</h1>
	<h3>Identidad Visual</h3>
	<h2>Smeterling Buenos Aires &middot; Patisserie &amp; Boutique</h2>
</header>

<section class="clearfix container">
	<%= render 'sidebar/servicios-left-sidebar', :items => items, :selected => 2, :name => true %>
	<article class="main-content clearfix">
	
		<%= render 'galeria/products' %>
		<footer id="previous-works" class="clearfix">
			<%= render 'servicios/sidebar-article', :h1 => 'AG', :content => 'Diseño e imagen de marca', :id => 1 %>
			<%= render 'servicios/sidebar-article', :h1 => 'AG', :content => 'Diseño e imagen de marca', :id => 2 %>
			<%= render 'servicios/sidebar-article', :h1 => 'AG', :content => 'Diseño e imagen de marca', :id => 3 %>
			<%= render 'servicios/sidebar-article', :h1 => 'AG', :content => 'Diseño e imagen de marca', :id => 4, :last => true %>		
		</footer>
	</article>	
</section>