---
title: trabajos
banner: true
first: 1
count: 5
sidebar: no-sidebar
page: works
selected: trabajos
---

<header class="title">
	<h1>Trabajos Destacados</h1>
	<div class="content">Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado.</div>
</header>

<section class="main-content clearfix">
	<%= render 'trabajos/article', :h1 => 'Smeterling', :id => 1 %>
	<%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 2 %>
	<%= render 'trabajos/article', :h1 => 'Smeterling', :id => 3, :extra => true %>
	<%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 4 %>
	<%= render 'trabajos/article', :h1 => 'Smeterling', :id => 5 %>
	<%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 6, :extra => true %>
  <%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 7 %>
  <%= render 'trabajos/article', :h1 => 'Smeterling', :id => 8 %>
  <%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 9, :extra => true %> 		
</section>	