---
title: Trabajos
banner: false
sidebar: left-sidebar
extraclass: gallery
page: works
datapage: gallery
selected: trabajos
---

<% items = ['Alibué', 'AG', 'Marvic', 'Sony', 'HP'] %>
<header class="title">
	<h1>Trabajos</h1>
	<h2>Smeterling Buenos Aires &middot; Patisserie &amp; Boutique</h2>
</header>

<section class="clearfix container">
	<%= render 'sidebar/trabajos-left-sidebar', :items => items, :selected => 2, :name => true %>
	<article class="main-content clearfix">
	
		<%= render 'galeria/products' %>
		 
		 <footer class="clearfix">
		 	<%= render 'trabajos/consult' %>
		 </footer>
	</article>	
</section>