---
title: trabajos
banner: true
sidebar: no-sidebar
extraclass: our-products
page: works
datapage: works
selected: trabajos
---
<% last = 7 %>


<header class="title">
	<h1>Trabajos Destacados</h1>
	<div class="content">Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado Texto simulado.</div>
</header>

<section class="main-content clearfix">
	<div class="clearfix">
	<%= render 'trabajos/article', :h1 => 'Smeterling', :id => 1, :last => last %>
	<%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 2, :last => last %>
	<%= render 'trabajos/article', :h1 => 'Smeterling', :id => 3, :extra => true, :last => last %>
	</div>
	<div class="clearfix">
	<%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 4, :last => last %>
	<%= render 'trabajos/article', :h1 => 'Smeterling', :id => 5, :last => last %>
	<%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 6, :extra => true, :last => last %>
	</div>
	<div class="clearfix">
  <%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 7, :last => last %>
  <%= render 'trabajos/article', :h1 => 'Smeterling', :id => 8, :last => last %>
  <%= render 'trabajos/article', :h1 => 'AG &middot; Flexibilidad Confiable', :id => 9, :extra => true, :last => last %>
  </div> 		
</section>	