<article class="item-<%= @id %><% if (@extra == true) %> last<%end%> <% if (@id >= @last) %>last-row<%end%>">
	<div class="wrapper clearfix">
		<header>
			<figure><a href="trabajos-trabajo.html"><img width="248" height="102" src="images/works/work-<%= @id %>.jpg" alt="<%= @h1 %>" title="<%= @h1 %>" /></a></figure>
			<h1><a href="trabajos-trabajo.html"><%= @h1 %></h1></a>
		</header>
		<div class="content">
			<p>Texto simulado Texto simulado</p>
			<p>Texto simulado Texto simulado</p>
		</div>
		<a href="trabajos-trabajo.html" class="more">Ver casos</a>
	</div>
</article>