<footer id="footer">
	<div class="bg"></div>
	<section class="top">
		<div class="wrapper">
			<section class="subcribe">
				<h2>Dasnews</h2>
				<a class="" href="#">Ver Dasnews online</a> | <a href="#">Subscribirme</a>				
			</section>
			<section class="brochure">
				<h2>Brochure</h2>
				<a class="pdf" href="#">PDF</a><a class="issuu" href="#">issue</a>				
			</section>
			<section class="clients">
				<h2>Clientes</h2>
				<ul id="clients-list" class="pika-thumbs clearfix">
					<% for i in(1..10) %>
					<li><a href="clients.html"><img src="images/clients/gallery-<%= i %>-thumb.jpg" width="123" height="60" /></a></li>
					<% end %>
				</ul>	
			</section>						
		</div>
	</section>
	
	<section class="bottom">
		<div class="wrapper">
			<div class="bg"></div>
			<section class="follow-us">
				<h2>Siganos</h2>
				<ul class="clearfix">
					<li><a class="twitter" href="#">Twitter</a></li>
					<li><a class="linkdin" href="#">Linkdin</a></li>
					<li><a class="facebook" href="#">Facebook</a></li>
				</ul>
			</section>
			
			<section class="contact-us">
				<p>Ramón Castro 1515  &middot;  Piso 2</p>
				<p>[ B1636EUA ] &middot; Olivos</p>
				<p>Buenos Aires &middot; Argentina</p>
				<p>Tel: [0054 11]  4799 3998 &middot; Int 107</p>
				<p class="mail-to clearfix"><a href="mailto:info@dabranding.com">info@dabranding.com</a></p>
			</section>
			
			<section class="sitemap clearfix">
				<header>Mapa web: <span>usted esta en: <%= @item[:page] %></span></header>
				<ul class="clearfix">
					<li class="home"><a href="index.html">Inicio</a></li>
					<li class="us">
						<a href="nosotros.html">Nosotros</a>
						<ul>
							<li><a href="nosotros.html">Enfoque</a></li>
							<li><a href="nosotros.html">Porque Elegirnos</a></li>
							<li><a href="nosotros.html">Metodoligas</a></li>
						</ul>
					</li>
					<li class="services">
						<a href="servicios.html">Servicios</a>
						<ul>
							<li><a href="nosotros.html">Enfoque</a></li>
							<li><a href="nosotros.html">Porque Elegirnos</a></li>
							<li><a href="nosotros.html">Metodoligas</a></li>
						</ul>
					</li>
					<li class="works">
						<a href="trabajos.html">Trabajos</a>
						<ul>
							<li><a href="nosotros.html">Enfoque</a></li>
							<li><a href="nosotros.html">Porque Elegirnos</a></li>
							<li><a href="nosotros.html">Metodoligas</a></li>
						</ul>						
					</li>
					<li class="clients"><a href="clientes.html">Clientes</a></li>
					<li class="contact"><a href="contacto.html">Contacto</a></li>
				</ul>
			</section>
			
			<section class="legal">© DAS Branding & Design 2011 - Todos los derechos reservados</section>
		</div>	
	</section>
</footer>