<header id="header" class="<% if (@item[:banner] == false) %>no-banner<%else%>has-banner<%end%>">
	<div class="wrapper">
		<a href="index.html" class="logo">DAS</a>
		<div class="tagline">
			<p class="active">Soluciones en <span>imagen de marca</span></p>
			<p>Gestión estratégica de marcas<span>y diseño multidisciplinario</span></p>
			<p>Innovación y creatividad<span>para su marca</span></p>
		</div>
		<nav>
			<ul class="clearfix">
				<li <% if (@item[:selected] == 'home') %>class="selected"<%end%>><a href="index.html">Inicio</a></li>
				<li <% if (@item[:selected] == 'nosotros') %>class="selected"<%end%>><a  href="nosotros.html">Nosotros</a></li>
				<li <% if (@item[:selected] == 'servicios') %>class="selected"<%end%>><a  href="servicios.html">Servicios</a></li>
				<li <% if (@item[:selected] == 'trabajos') %>class="selected"<%end%>><a  href="trabajos.html">Trabajos</a></li>
				<li <% if (@item[:selected] == 'clientes') %>class="selected"<%end%> ><a href="clientes.html">Clientes</a></li>
				<li <% if (@item[:selected] == 'contacto') %>class="selected"<%end%>><a  href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<ul id="languaje-selector">
			<li class="selected"><a href="#">español</a></li>
			<li><a href="#">english</a></li>
		</ul>
	</div>
	<div class="bg"></div>
</header>