		<meta charset="utf-8" />
		
		<title><%= @item[:title] %></title>
		<meta name="description" content="">
		<meta name="author" content="">
		
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		
		<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
		<link rel="stylesheet" type="text/css" media="all" href="css/pikachoose.css" />
		
		<!--[if IE ]>
			<link rel="stylesheet" href="css/ie.css" type="text/css" media="all"/>
		<![endif]-->
		<script src="js/libs/head-min.js" type="text/javascript"></script>