<article class="item-<%= @id %>">
	<header>
		<figure><img width="274" height="213" src="images/home-<%= @id %>.jpg" alt="<%= @h1 %>" title="<%= @h1 %>" /></figure>
		<hgroup>
			<h1><%= @h1 %></h1>
			<h2><%= @h2 %></h2>
		</hgroup>
	</header>
	<div class="content">
		<p>AG, marca líder y número 1 de Argentina en resortes de suspención, nos confió el diseño y construcción de su stand.</p>
		<p>AG, marca líder y número 1 de Argentina en resortes de suspención, nos confió el diseño y construcción de su stand.</p>
	</div>
	<a href="#" class="more">Leer +</a>
</article>