<section id="banner" role="banner" class="wrapper">

	<% case @item[:page]
		 when "home" %>
		<section id="slider">
			 <ul>	
				<% for i in (1..7) %>
					<li>
						<figure><a href=""><img src="images/banner/home-<%= i %>.jpg" width="930" height="424" /></a></figure>
					</li>
				<% end %>
		     </ul>
		</section>
	<% when "clients" %>
		<section id="slider">
			 <ul>	
				<% for i in (1..3) %>
					<li>
						<figure><a href=""><img src="images/banner/clients.jpg" width="930" height="382" /></a></figure>
					</li>
				<% end %>
		     </ul>
		</section>
	<% else %>
		<figure>
			<img src="images/banner/<%= @item[:page] %>.jpg" width="930" height="382" />
		</figure>
	<% end %>

	<footer>
	<% if (@item[:page] == 'home') %>

	<% end %>
	</footer>
	<div class="bg"></div>
</section>