<section id="banner" role="banner" class="wrapper">

	<section id="slider">
		 <ul>
		 	<% if (@item[:page] == 'home') %>
		        <li><a href=""><img src="images/banner/home-1.jpg" /></a></li>
		        <li><a href=""><img src="images/banner/home-2.jpg" /></a></li>
		        <li><a href=""><img src="images/banner/home-3.jpg" /></a></li>
		        <li><a href=""><img src="images/banner/home-4.jpg" /></a></li>
	        <% else %>
		        <li><a href=""><img src="images/banner/site-1.jpg" /></a></li>
		        <li><a href=""><img src="images/banner/site-1.jpg" /></a></li>
		        <li><a href=""><img src="images/banner/site-1.jpg" /></a></li>
		        <li><a href=""><img src="images/banner/site-1.jpg" /></a></li>	        
	        <%end%>
	     </ul>
	</section>

	<footer>
	
	</footer>
</section>