	   <div class="pika-content">
		   <div class="pika-stage pika-loading"></div>
		   <div class="pika-caption"></div>
		   <div class="bg"></div>
	   </div>
	   <ul id="gallery" class="pika-thumbs clearfix">
	   		<% for i in(1..10) %>
	   		<li <% if (i == 5 || i == 10) %>class="last"<% end %>><img src="images/gallery/gallery-<%= i %>-thumb.jpg" width="125" height="72" /><span><strong>test:</strong>esto es. <strong>mas:</strong> mas texto, id <%= i %></span></li>
	   		<% end %>
	   	</ul>
	   	<div class="pika-bg"></div>